#spinner {
    height: 64px;
    width: 64px;
    background-color: rgba(0, 0, 0, 0);
    animation: animation_duration 1.5s infinite;
    border-width: 6px;
    border-style: solid;
    border-color: cyan transparent red transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#spinner2 {
    height: 32px;
    width: 32px;
    background-color: rgba(0, 0, 0, 0);
    animation: animation_duration2 1s infinite;
    border-width: 6px;
    border-style: solid;
    border-color: red transparent cyan transparent;
    border-radius: 50%;
    
    
}

@keyframes animation_duration {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes animation_duration2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}